body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(184, 151, 124, 0.822);
}

h1{
   font-size: 90px; 
}

canvas{
    margin-bottom: 100px;
    border: rgb(139, 48, 48) solid 1px;
}

.made{
    text-align: right;
    color: rgba(128, 128, 128, 0.616);
}

@media(min-width:100px){
    h1{
        margin-top: 100px;
        font-size: 40px;
    }
}